#checkout{
  position: relative;
  margin: 0 8px;
  margin-top: -55px;
  padding-bottom: 20px;
  
  .inner_checkout{
      background-color: white;
      padding: 20px;
      box-shadow: 0 0 10px #ddd;
      border-radius: 15px;
  }
  .child_checkout{
      flex-basis: 19%;
      i{
          float: left;
          padding-top: 17px;
            padding-right: 8px;
            font-size: 20px;
      
      }
      h5{
          color: black;
          font-size: 25px;
      }
      input[type="submit"]{
          margin-top: 30px;
          padding: 20px;
          width: 100%;
          
      }

  }
}