#contact{
    position: relative;
    iframe{
        width: 100%;
        display: block;
    }
    .outer_contact{
        position: absolute;
         max-width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-left: 25px;
        .inner_contact{
            background-color: white;
            padding: 25px;
            border-radius: 20px;
            
        }
    }
}