#header{
    width: 100%;
    #topheader{
        padding: 15px 0px ;
        background-color: $primaryColor;
   .info{     
       flex-basis: 33%;
       text-align: center;
       font-size:20px;
       p{
           margin: 0;
       }
      i{
       margin: 0px 10px;
       font-size: 22px;
       padding: 0;
       }
       a{
         color: rgb(0, 0, 0);
         display: block;
         &:hover{
             color: white;
             
         }
       }
}
}
}
#mainheader{
    padding: 10px;
.logo{
    flex-basis: 30%;
    img{
        display: block;
    }
}
}
