#nav{
    flex-basis: 70%;
    margin: auto 0;
    
   
    ul{
        text-align: right;
        i{
            display: none;
        }
        li{
            margin: 0px 20px;
            position: relative; 
            &::after{
                content: "";
                position: absolute;
                background-color: $primaryColor;
                bottom: 0;
                left: 0;
                transition: 0.3s;
                width: 0%;
                height:2px;
            }
            &:hover::after{
                width: 100%;
            }
            &:last-child{
                a{
                padding: 10px;
                background-color: $primaryColor;
                border-radius: 2px;
                color: white;
            }
            }
        }
    }
}