$primaryColor: #2493e9;
$bkColor: #000000;
$whColor: #fff;


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin: 10px 0;
  line-height: 1.2em;
}
h3{
  font-size: 40px;
  strong{
    color: $primaryColor;
    
  }
}
h2{
  font-size: 80px;
  strong{
    color: $primaryColor;

  }
}
h5{
  font-size: 25px;
  text-transform: uppercase;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 15px 0;
}
nav {
  font-family: "Oswald", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  transition: 0.3s;
  display: block;
 color: black;
 font-weight: 600;
}
.btn , input[type="submit"] {
  color: $whColor;
  background-color: $primaryColor;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 7px;
  display: inline-block;
  max-width: 100%;
  font-weight: 300;
  border: 0;
  content: url(roll.html);

}
.btn:hover {
  background-color: $bkColor;
}
input , select {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ddd;
  width: 100%;
}
.content{
  width: 100%;
  margin: 0 auto;


}
.tnter{
  text-align: center;
}
.flexer{
  display: flex;
  justify-content: space-between;
}
.ul{
  margin: 0;
  padding:0;
  list-style-type: none;
  
  li{
    display: inline-block;
  }
}
     

//Footer
#footer{
  background-color: $primaryColor;
  text-align: center;
  font-size: 20px;
  .inner_footer{
    justify-content: space-around;
    align-items: center;
  }
  ul{
    margin: 0 auto;
    li{
      margin: 0 25px;
    }
  }
}