#why{
    .txt{
    p{
        // width: 900px;
        margin: 0 auto;
        
    }
}
.why{
    margin-top: 5px;
    padding: 20px 0;
}
.inner_why{
    flex-basis: 32%;
    border: 1px solid #fff;
    margin: 0 9px;
    box-shadow: 0 0 10px #ddd;
    padding: 20px;
    
}
}